/* Variables */

$colorcito: #007bff;
$naranjita: #ffaa33;

/*ID selector */
#naranja {
	background-color: $naranjita;
}

/* Selectors */
p.bio {
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: 70px;
	padding: 20px;
}

table {
	margin-left: 80px;
	border: 1px solid black;
	border-collapse: collapse;
}

h1.biography::before {
	content: "Biography";
}

th {
	background-color: $colorcito;
	color: white;
}

th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}

tr:hover {
	background-color: #f5f5f5;
}

p::selection {
    color: white;
    background-color: $colorcito;
}


ul > li {
	color: $colorcito;
}

div ul > li {
	color: black;
}

tr:nth-child(even) {
	background-color: #e6f3ff;
}

/* Nesting and inheritance, styles only apply for "articles".html */

%font_style {
	font-family: 'Droid Serif', serif;
}

div{
	p.article {
		@extend %font_style;
		font-size: 16px;
	}
	h2.article {
		@extend %font_style;
		border-bottom: 2px solid #2f2f2f;
    	border-top: 2px solid #2f2f2f;
	}
	a {
		link.article {
			color: $colorcito;
		}
		&:hover.article {
			color: red;
		}
	}
}


/* Mobile responsive query */
@media (max-width: 500px){
	h1.biography::before {
		content: "Bio";
	}
}